html{
  background-image: url(media/terraria_background.jpg), url(media/stone.png);
  background-position: top, bottom;
  background-repeat: no-repeat, repeat;
  position:absolute,absolute;
  max-width: cover, 20px;
  z-index: 2,1;
 }